<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="about-us.html">关于我们</a></li>
		</ul>
		
		<div class="about-wrap">  
			<dl class="about-dl clearfix" ng-repeat="item in about_us">
				<dt class="about-pic">
					<img src="{{item.shop_img}}"/>
				</dt>
				<dd class="about-txt">
					<h3 class="about-h">{{item.shop_name}}</h3>
					<p class="about-p">电话：{{item.shop_phone}}</p>
					<p class="about-p">传真：{{item.shop_fax}}</p>
					<p class="about-p">邮编：{{item.shop_region}}</p>
					<p class="about-p">地址：{{item.shop_address}}</p>
				</dd>
			</dl>
			
			<p class="about-p2">全国加盟热线及邮箱</p>
            <p class="about-p2">{{about_conf[0].conf_value}}</p>
            <p class="about-p2">{{about_conf[1].conf_value}}</p>
		</div>

		