<ul class="breadnav clearfix">
			<li class="bnav-item"><a ui-sref="home">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a ui-sref="news">新闻资讯</a></li>
		</ul>
		<div class="newslist-wrap">
			<p class="newslist-tit">新闻资讯</p>
			<div ng-repeat="item in new_list">
				<dl class="newslist-box clearfix" >
					<dt class="newslist-pic">
						<div style="width:400px;height:200px;">
							<a ui-sref="newDetail({art_id:item.art_id})">
								<img style="width: 100%;height: 100%;" src="{{item.art_img}}"/>
							</a>
						</div>
					</dt>
					<dd class="newslist-txt">
						<a ui-sref="newDetail({art_id:item.art_id})" class="newslist-font24">{{item.art_title}}</a>
						<ul class="newslist-ul">
							<li class="newslist-li">
								<p class="newslist-time">{{item.art_time | date:"yyyy-mm-dd"}}</p>
							</li>
							<li class="newslist-li">
								<a ui-sref="newDetail({art_id:item.art_id})" class="newslist-con" ng-bind-html="item.art_content | limitTo:130"></a>
							</li>
							<li class="newslist-li"><a class="newslist-link" ui-sref="newDetail({art_id:item.art_id})">&lt;阅读全文&gt;</a></li>
						</ul>
					</dd>
				</dl>
				<span class="news-line">
					<img src="../assets/home/img/news-line.png"/>
				</span>
			</div>
			
			<div style="text-align:center;">
				<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="bigTotalItems" max-size="maxSize" ng-change="pageChanged()"></ul>
			</div>
		</div>