<div class="am-cf am-padding">
  <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加管理员</strong></div>
</div>

<hr/>

<div class="am-g">
  <div class="am-u-sm-12 am-u-md-12 am-u-md-pull-12">
    <form class="am-form am-form-horizontal">
      <div class="am-form-group">
        <label for="admin_name" class="am-u-sm-3 am-form-label">管理员名称</label>
        <div class="am-u-sm-9">
          <input name="admin_name" type="text" required id="admin_name" placeholder="请输入管理员名称" ng-model="admin_name" ng-change="changeName(admin_name)" />
          <small ng-show="showNotice" style="color:red">已经被添加了</small>
        </div>
      </div>
      <div class="am-form-group">
        <label for="admin_pwd" class="am-u-sm-3 am-form-label">管理员密码</label>
        <div class="am-u-sm-9">
          <input ng-model="admin_pwd" name="admin_pwd" id="admin_pwd" type="text" required placeholder="请输入管理员密码">
        </div>
      </div>

      <div class="am-form-group">
        <div class="am-u-sm-9 am-u-sm-push-3">
          <button ng-click="saveForm()" ng-disabled="showNotice" type="button" class="am-btn am-btn-primary">保存修改</button>
        </div>
      </div>
    </form>
  </div>
</div>