<div class="am-cf am-padding">
  <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">编辑文章</strong> / <small>Personal information</small></div>
</div>

<hr/>

<div class="am-g">

  <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
    <div class="am-panel am-panel-default">
      <div class="am-panel-bd">
        <div class="am-g">
          <div class="am-u-md-6">
            <img class="am-img-circle am-img-thumbnail" src="{{art_edit.art_img}}" alt=""/>
          </div>
          <div class="am-u-md-6">
              <div class="am-form-group">
                <img  class="img-responsive"/>
                <div class="button" ng-change="uploadImg()" ngf-select="" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="art_edit.art_img">
                  <button type="button" class="am-btn am-btn-primary am-btn-xs">选择文件</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
    <form class="am-form am-form-horizontal" ng-submit="saveForm()">
      <div class="am-form-group">
        <label for="user-name" class="am-u-sm-3 am-form-label">文章标题</label>
        <div class="am-u-sm-9">
          <input name="art_title" type="text" required id="user-name" placeholder="请输入文章标题" ng-model="art_edit.art_title" />
        </div>
      </div>

      <div class="am-form-group">
        <label for="art_phone" class="am-u-sm-3 am-form-label">文章内容</label>
        <div class="am-u-sm-9">
          <textarea ng-model="art_edit.art_ctn" class="" rows="5" id="art_ctn" placeholder="输入文章描述"></textarea>
        </div>
      </div>

      <div class="am-form-group">
        <div class="am-u-sm-9 am-u-sm-push-3">
          <button  type="submit" class="am-btn am-btn-primary">保存修改</button>
        </div>
      </div>
    </form>
  </div>
</div>