

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">食品分类管理</strong> / <small>Table</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" ui-sref="FcateAdd"><span class="am-icon-plus"></span> 新增</button>
              <button ng-click="saveFcateId()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>

            <div class="am-form-group am-margin-left am-fl">
              <select>
                <option value="option1">所有类别</option>
                <option value="option2">IT业界</option>
                <option value="option3">数码产品</option>
                <option value="option3">笔记本电脑</option>
                <option value="option3">平板电脑</option>
                <option value="option3">只能手机</option>
                <option value="option3">超极本</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="am-u-md-3 am-cf">
        <div class="am-fr">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" ng-model='fcatename' ng-value='fcatename'>
                <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" type="button" ui-sref="FcateName({'FcateName':fcatename})">搜索</button>
                </span>
          </div>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" ng-click="check_box()"/></th><th class="table-id">ID</th><th class="table-title">标题</th><th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in fcate_list">
              <td><input type="checkbox" ng-init="item.fcate_checked=false" ng-checked="item.fcate_checked" ng-model="item.fcate_checked" ng-value="item.fcate_id"/></td>
              <td>{{item.fcate_id}}</td>
              <td>{{item.fcate_name}}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ui-sref="FcateEdit({'fcateId':item.fcate_id})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="deleteFcate(item.fcate_id)"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
            
          </tbody>
        </table>
          <div class="am-cf">
            <ul class="am-pagination am-fr admin-content-pagination" uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="bigTotalItems" max-size="maxSize" ng-change="pageChanged()"></ul>
          </div>
      <hr />
    </form>
  </div>

</div>