<ul class="am-list admin-sidebar-list">
  <li><a ui-sref="index"><span class="am-icon-home"></span> 首页</a></li>
  <li><a ui-sref="FcateList"><span class="am-icon-file"></span> 食品分类管理</a></li>
  <li><a ui-sref="FoodList"><span class="am-icon-file"></span> 食品管理</a></li>
  <li><a ui-sref="Admin"><span class="am-icon-file"></span> 管理员</a></li>
  <li><a ui-sref="ScateList"><span class="am-icon-file"></span> 店面分类管理</a></li>
  <li><a ui-sref="ShopList"><span class="am-icon-file"></span> 店面管理</a></li>
  <li><a ui-sref="ArtList"><span class="am-icon-file"></span> 文章管理</a></li>
  <li><a ui-sref="CtcList"><span class="am-icon-file"></span> 留言板管理</a></li>
  <li><a ui-sref="NoticeList"><span class="am-icon-file"></span> 公告管理</a></li>

  <li><a ui-sref="logout"><span class="am-icon-sign-out"></span> 注销</a></li>
</ul>

<div class="am-panel am-panel-default admin-sidebar-panel">
  <div class="am-panel-bd">
    <p><span class="am-icon-bookmark"></span> 公告</p>
    <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>
  </div>
</div>

<div class="am-panel am-panel-default admin-sidebar-panel">
  <div class="am-panel-bd">
    <p><span class="am-icon-tag"></span> wiki</p>
    <p>Welcome to the Amaze wiki!</p>
  </div>
</div>
